<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StitchingMagic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StitchingMagic.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        .instaimg{
            height: 1.5em;
            width: 1.5em;
            
        }
        .waimg{
            height: 18px;
            width: 19px;
            
        }
        header{
            height: 49px;
        }

        #togglerbtn{
            margin-bottom: 0;
        }
    </style>
  
</head>
<body>
    <header >
       @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary text-light p-2  border-bottom box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Stitching Magic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon "></span> 
                  
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Catalog">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Appointment">Book Appointment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </nav> *@

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary text-light p-2   border-bottom box-shadow ">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <h1 id="togglerbtn" class="bi bi-list text-white "></h1>
                    @* <span <i class="bi bi-list text-white"></i></span>*@
                </button>
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Stitching Magic</a>
                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Catalog">Catalog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Appointment">Book Appointment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
  
    
    <div class="container">
        
   
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    </div>

    <footer class="border-top footer text-muted bg-primary"> 
        <div class="container">
            <div>
            <a href="https://www.instagram.com/the_stitching_magic/"><img class="instaimg mx-2" src="~/Images/Insta_logo.png"/></a>
                <a href="https://www.wa.link/t68hpo"><img class="waimg" src="~/Images/whatsapp.png" /></a>
            </div>
          
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)



</body>

    
</html>
    