


<style>
    .carousel-item img {
        width: 100%; 
        height: 550px; 
        object-fit: cover;
    }
</style>

<body >
    
 <div id="carouselExampleControlsNoTouching" class="carousel slide carousel-fade" data-bs-touch="true">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/Assesin 18.jpg" class="d-block w-100 " alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Images/dark skies back.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/Images/Lewis Hamilton.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



    <h1 class="mt-4">Contact Us</h1>
    
    <address>
        #HE-302 Phase 7, Mohali 160062 <br />
        +91 8146894320<br />
        +91 7710432507
    </address>

<a class="btn btn-primary" href="https://forms.office.com/r/PxY7Vrm0Kx">Request a call back</a>
</body>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
    
    //      $(document).ready(function () {
    //     // Initialize carousel
    //     $('#carouselExampleControlsNoTouching').carousel();
    // });
       </script> 




